<style type="text/css">
    #navegador{
        padding: 20px;
        background: #b12636;
    }
    #navegador ul{
       list-style-type: none;
       text-align: center;
    }
    #navegador li{
       display: inline;
       text-align: center;
       margin: 0 10px 0 0;
    }
    #navegador li a {
       padding: 2px 7px 2px 7px;
       color: #ffffff;
       background: #b12636;
       text-decoration: none;
       padding: 20px;
    }
    #navegador li a:hover{
       background-color: #b9414e;
       color: #ffffff;
    }
       </style>
    </head>
    
    <body>
    
    
    <div id="navegador">
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/usuarios/registrar">Registro</a></li>
    <li><a href="/usuarios/login">Login</a></li>
    <li><a href="/productos/abm">ABM Productos</a></li>
    </ul>
    </div>