<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <p>Antes de comenzar</p>

    <div class="linkss">
      
      <% if (logueado) {%>
        <a class="linkProducto" href="/logout"> Logout <a>
    
      <% } else {  %>
        <a class="linkProducto" href="/registro">Registro<a>
        <a class="linkProducto" href="/login"> Login <a>
      <% } %>

    </div> 
    
  </body>
</html>
