<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>

    <body>

    <form action="/registro" method="POST">
        <div class="container">
            <label for="nombre"><b>Nombre</b></label>
            <input type="text" placeholder="Ingrese nombre de usuario" name="nombre" required>

            <label for="apellido"><b>Apellido</b></label>
            <input type="text" placeholder="Ingrese su apellido" name="apellido" required>
      
            <label for="email"><b>Email</b></label>
            <input type="email" placeholder="Ingrese su email" name="email" required>

            <label for="contrase単a"><b>Contrase単a</b></label>
            <input type="password" placeholder="Ingrese contrase単a" name="contrase単a" required>
            
            <button type="submit">Ingresar</button>
        </div>
    </form>

    </body>
</html>