body {
  padding: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.precio{
  margin-left:0px
   
 }
 
 .precioDescuento{
  margin-left:25px
   
 }
 
 .codigo{
  margin-left:25px
   
 }
 
 .imagen{
   display:inline-block;
   width: 20%;
 }
 
 .imagenProducto{
   width: 90%;
   height: 90px
 }
 
 
 .sumario{
   display:inline-block;
   width: 70%;
 }
 
 .producto{
   background-color: #cac3c3
 }
 
 .linkProducto{
   color: initial
 }

 /* PAGINA LOGIN */
 input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  
  border: none;
  cursor: pointer;
  
  width: 150px;
  text-align: center;
  margin:0 auto;
  display:block;
}

button:hover {
  opacity: 0.8;
}
/* PAGINA LOGIN */

div.navBar {
  position: absolute;
  right: 0;
  width: 100%;
  height: 30px;
  border: 3px transparent white;
  top: 15px;
}

div.links {
  position: absolute;
  right: 0;
  width: 100px;
  height: 30px;
  border: 3px transparent white;
} 